:host {
  --pageTitleMarginTop: 0;
  --pageTitleMarginBottom: 35px;
}

.mobile-nav {
  @media screen and (max-width: 769px) {
    background-color: var(--primary);
    width: 100vw;
    min-height: 70px;
    padding: 10px 20px 10px 12px;
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    .page-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: auto;
      display: block;
      width: 100%;
      overflow: hidden;
      text-align: center;
      font-size: 16px;

    }
    .burger {
      width: 32px;
      height: 28px;
      cursor: pointer;
      z-index: 20;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      appearance: none;
      padding: 7px 8px;
      flex-shrink: 0;

      .burger-line {
        width: 100%;
        height: 2px;
        background-color: var(--mainText);
        border-radius: 10px;
        display: block;
        transition: background-color 0.5s ease-in-out;

        &:after, &:before {
          content: "";
          width: 100%;
          background-color: var(--mainText);
          display: block;
          transition: all 0.5s ease-in-out;
          border-radius: 10px;
          height: 2px;
        }

        &::before {
          transform: translateY(-6px);
        }

        &::after {
          transform: translateY(6px);
          margin-top: -2px;
        }
      }

      &.active {
        .burger-line {
          background-color: transparent;

          &::before {
            transform: rotateZ(45deg) translateY(0);
          }

          &::after {
            transform: rotateZ(-45deg) translateY(0);
          }
        }
      }
    }
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.nav {
  background-color: var(--primary);
  display: grid;
  grid-template-columns: 1fr;
  z-index: 9;
  grid-template-rows: auto auto auto 1fr auto auto;
  grid-template-areas:
    "topMenu"
    "titleMenu"
    "navMenu"
    "."
    "co2Menu"
    "logoMenu";

  .logo {
    margin: 0 auto;
    grid-area: logoMenu;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    text-align: center;
    font-weight: 600;
    p{
      margin:0 0 10px 0;
    }
    .no-bold{
      font-weight: 500;
      font-size: .9em;
      margin-bottom: 5px;
    }
  }

  .bottom {
    grid-area: co2Menu;
  }

  .page-title {
    font-size: 20px;
    margin-bottom: var(--pageTitleMarginBottom);
    margin-top: calc(var(--pageTitleMarginTop) / 2);
    font-weight: 700;
    margin-left: 13px;
    text-transform: initial;
    grid-area: titleMenu;
    @media screen and (max-width: 769px) {
      margin-top: var(--pageTitleMarginTop);
    }
  }

  @media screen and (max-width: 769px) {
    position: fixed;
    top: 70px;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    max-width: 312px;
    width: 100vw;
    padding: 20px 16px;
    transition: transform 0.5s ease-in-out;
    height: calc(100% - 70px);
    overflow-y: auto;
    &.visible {
      transform: translate3d(0, 0, 0);
    }
  }
  @media screen and (min-width: 769px) {
    padding: 0 20px 26px 20px;
    height: 100%;
    overflow-y: auto;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: navMenu;
}

.nav-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border-radius: 10px;
  background-color: transparent;
  transition: all .6s ease;
  color: var(--mainText);
  padding: 14px 13px;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: initial;
  appearance: none;
  width: 100%;
  cursor: pointer;
  text-align: left;

  @media screen and (orientation: landscape) and (max-height: 800px) {
    padding: 9px 10px;
  }

  .arrow {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-image: url("/assets/icons/circle-nav.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 16px;
    flex-shrink: 0;
    opacity: .3;
    transition: all .6s ease;
    margin-top: 2px;
    @media screen and (orientation: landscape) and (max-height: 800px) {
      margin-right: 23px;
      width: 16px;
      height: 16px;
    }
  }

  &.current {
    background-color: var(--white);

    &:not(.alert) {
      .arrow {
        background-image: url("/assets/icons/arrow-nav.svg");
        opacity: 1;
      }
    }
  }

  &:hover {
    .arrow {
      opacity: 1;
    }
  }

  &.complete {
    .arrow {
      background-image: url("/assets/icons/complete.svg");
      opacity: 1;
    }
  }

  &.alert {
    .arrow {
      background-image: url("/assets/icons/alert.svg");
      opacity: 1;
    }
  }

  &.active {
    .arrow {
      background-image: url("/assets/icons/arrow-nav.svg");
      opacity: 1;
    }
  }
}

.page-title {
  margin: 0;
  padding: 0;
}
