<main class="layout">
  <app-nav-bar
    (navigationClick)="changeTopic($event)"
    [navigation]="eventNavigation()"
    class="nav-bar--theme">
    <div class="top">
      <app-button
        [title]="'Опитувальники'"
        [link]="['/questionnaires']"
        class="profile-btn--theme"
      >
        <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7 8C5.93913 8 4.92172 7.57857 4.17157 6.82843C3.42143 6.07828 3 5.06087 3 4C3 2.93913 3.42143 1.92172 4.17157 1.17157C4.92172 0.421427 5.93913 0 7 0C8.06087 0 9.07828 0.421427 9.82843 1.17157C10.5786 1.92172 11 2.93913 11 4C11 5.06087 10.5786 6.07828 9.82843 6.82843C9.07828 7.57857 8.06087 8 7 8ZM8.42812 9.5C11.5062 9.5 14 11.9937 14 15.0719C14 15.5844 13.5844 16 13.0719 16H0.928125C0.415626 16 0 15.5844 0 15.0719C0 11.9937 2.49375 9.5 5.57187 9.5H8.42812Z"
            fill="white"/>
        </svg>
      </app-button>
    </div>
    <div class="bottom">
      @if (savedCo2()) {
        <app-total-co2-saved
          [totalAmount]="savedCo2()"
          [description]="'Прогрес'"
          [amountSign]="'%'"
          [tooltipText]="'Поточний прогрес теми опитування'"
          class="total-amount--theme"></app-total-co2-saved>
      }
    </div>
  </app-nav-bar>
  <article class="content">
    @if (eventService.activeTopic().questions) {
      <app-question (submitQuiz)="submit()"></app-question>
    }
  </article>
  @if (isLoaderShown()) {
    <app-full-page-loader></app-full-page-loader>
  }
</main>
