<h1 class="title">Type new password</h1>
@if (passForm) {
<form [formGroup]="passForm" (ngSubmit)="submit()" class="form">
  <mat-label  class="form-label">New Password</mat-label>
  <mat-form-field appearance="outline">
    <input matInput formControlName="password" type="password" />
    @if (password.dirty && password.errors?.['required']) {
    <mat-error>Password is required</mat-error>
    } @if (password.dirty && password.errors?.['minlength']) {
    <mat-error>Minimum 8 characters required</mat-error>
    }
  </mat-form-field>
  <mat-label  class="form-label">Confirm Password</mat-label>
  <mat-form-field appearance="outline">
    <input matInput formControlName="confirmPassword" type="password" />
    @if (confirmPassword.dirty && confirmPassword.errors?.['required']) {
    <mat-error>Please confirm your password</mat-error>
    } @if (confirmPassword.dirty && confirmPassword.errors?.['mismatch']) {
    <mat-error>Passwords do not match</mat-error>
    }
  </mat-form-field>
  <button mat-flat-button type="submit" [disabled]="passForm.invalid">
    Send
  </button>
</form>
}
